<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="heading">
        <%= link_to "Wikinimous", articles_path, class: "wiki"%>
        <%= link_to "New articles", new_article_path %>
    </div>
    <div class = "wrapper">
      <%= yield %>
    </div>
  </body>
</html>
